/* Globals */
* {
    font-family: "Sans-serif", "Verdana", sans-serif;
}

#main_grid_container {
    margin: auto;
    width: 80%;
    border: 1px solid;
    padding: 10px;
}

#content {
    width: 65%;
    margin: auto;
}

/* Head Felder */
#head {
    display: grid;
    grid-template-columns: 17% 65% 18%;
    padding:0.5%;
    border: 1px solid;
}

.header_innen_abstaende {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
}

#logo > div {
    text-align: center;
}

#adressen > a {
    padding-right: 40px;
}

/* Paragraph*/
#info {
    border: 1px solid;
    padding: 20px;
}

/*Preise Tabelle*/
table {
    /*border: 1px solid;*/
    width: 100%;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

td + td {   /* Gilt für alles nach der ersten Spalte*/
    text-align: center;
}

td {
    padding: 10px;
}

#letzte {
    text-align: center;
}
/* Form Div container  */
#nlform > div {
    float: left;
    width: 25%;
    margin: 1.5%;
}

select {
    width: 80%;
}

#verabschiedung > h2 {
    text-align: center;
}

/* Footer */
#footer {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    border: 1px solid;
    padding: 0.5%;
}

#footer > div {
    text-align: center;
    padding: 0.5%;
}

#footer > div + div {
    border-left: 1px solid;
}
