/* Globals */
* {
    font-family: "Sans-serif", "Verdana", sans-serif;
}

#main_grid_container {
    margin: auto;
    width: 80%;
    border: 1px solid;
    padding: 10px;
}

#content {
    width: 65%;
    margin: auto;
}
/* Head Felder */

#emensa_logo {
    border: 1px solid;
}

#head {
    display: grid;
    grid-template-columns: auto 60% auto;

}

#logo {
    text-align: center;
}

/* Paragraphen*/
p {
    border: 1px solid;
    padding: 20px;
}

/*Preise Tabelle*/
table {
    border: 1px solid;
}

td + td {   /* Gilt für alles nach der ersten Spalte*/
    text-align: center;
}

#letzte {
    text-align: center;
}

/* TODO */
#head > div {
    border: 1px solid;
}