/* Globals */
* {
    font-family: "Sans-serif", "Verdana", sans-serif;

}

body {
    margin: auto;
    width: 75%;
    background-color: #cccccc;
    /*border: 1px solid;*/
    /*padding: 10px;*/
}

#content {
    background-color: white;
    padding-left:1.5%;
    padding-right:1.5%;
}

header {
    display: grid;
    grid-template-columns: 15% 70% auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}

main {
    display: grid;
    grid-template-columns: 15% 70% auto;
    margin:auto;

}

footer {
    display: grid;
    grid-template-columns: 15% 70% auto;
    /*border: 1px solid;*/
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}

/* Navbar Section */
#adressen {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#adressen > a{
    padding-right:20px;
}

#speisen_table {
    border: 1px solid black;
}

/* Gerichte Tabelle */
table.center {
    /* Seitenabstände zur Content width anpassen */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

td + td {   /* Gilt für alles nach der ersten Spalte(Preise etc.) */
    text-align: center;
}

td {
    padding: 13px;
}

#anmeldung {
    width: 50%;
    margin: auto;
    display: grid;
    grid-column: 2;
}

#anmeldung_submit {
    width: 40%;
    margin: auto;
}

#profil_container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

#profil_container > div {
    padding:3%;
}

#bewertung {
    width: 80%;
    margin: auto;
    display: grid;
    grid-column: 2;
}

#user_bewertungen {
    text-align: center;
}

#user_bewertungen > td {

}

#error_msg {
    width: 60%;
    margin: auto;
    display: grid;
    grid-column: 1;
}

#sterneDrop {
    width: 30%;
}

#bewertung_submit {
    width: 40%;
    margin: auto;
}

#bewertungen_index {
    margin-left: auto;
    margin-right: auto;
}
