/* Globals */
* {
    font-family: "Sans-serif", "Verdana", sans-serif;
}
#main_grid_container {
    margin: auto;
    width: 80%;
    border: 1px solid;
    padding: 10px;

}
body{
    width: 90%;


}

#content {
    width: 50%;
    margin: auto;

}

/* Head Felder */
#head {
    display: grid;
    grid-template-columns: 17% 65% 18%;
    padding:0.5%;
    gap: 10px;
}

.header_innen_abstaende {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
}
#logo{
    border: 1px solid black;
}
#logo > div {
    text-align: center;
    font-weight: bold;
    font-family: "Comic Sans MS";

}
#speisen{
    font-family: "Comic Sans MS";
}


#adressen > a {
    padding-right: 40px;
    color: deepskyblue;
    font-family: "Comic Sans MS";
    font-weight: bold;
    padding-left: 30px;

}

/* Paragraph*/
#info {
    border: 1px solid;
    padding: 20px;
}

/*Preise Tabelle*/
#ankuendigungen{
    font-family: "Comic Sans MS";
}
#info{
    font-family: "Comic Sans MS";
}

table {
    /*border: 1px solid;*/
    width: 100%;


}

table.center {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;



}

td + td {   /* Gilt für alles nach der ersten Spalte*/
    text-align: center;
}

.center td {
    padding: 10px;
    font-family: "Comic Sans MS";

}



#zahlen{
    font-family: "Comic Sans MS";
}
td{
    font-family: "Comic Sans MS";

}
#diuw{
    font-family: "Comic Sans MS";
}
ul{
    margin-left: 130px;
}
li{
    font-family: "Comic Sans MS";

}
#kontakt{
    font-family: "Comic Sans MS";
}

#letzte {
    text-align: center;
}
#tr1 td {
    border-bottom: 1px solid black;
    border-left: 1px solid grey;
}
#tr2 td {
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
}
#tr3 td {
    border-bottom: 1px solid black;
    border-left: 1px solid grey;
}
#tr4 td{
    border-left: 1px solid grey;
}


#footer{

    text-align: center;
    color: black;
    display: grid;
    padding: 20px;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;



}
#footer > p{
    font-family: "Comic Sans MS";

}
#au{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#Im{
    color: deepskyblue;

}
#WFB{
    font-family: "Comic Sans MS";
    text-align: center;
}
#adressen{
    border: 1px solid black;
}

/*TODO*/
